<h1>Add a tweet!</h1>
<%= form_for @tweet, url: {action: "create"}, html: {class: "tweet_creation_form"} do |f| %>
<p>
	<%= f.label :book %>
  <%= f.collection_select(:book_id, Book.all, :id, :title) %>
</p>
<p>
	<%= f.label :tweet %> <br />
  <%= f.text_area :body, size: "60x6", maxlength: 140 %>
</p>
  <%= f.submit "Add to queue" %>

<% end %>