<h1>Add a book!</h1>
<%= form_for @book, url: {action: "create"}, html: {class: "book_creation_form"} do |f| %>
<p>
  <%= f.label :title %>
  <%= f.text_field :title %>
</p>
<p>
  <%= f.label :author %>
  <%= f.text_field :author %>
</p>
  <%= f.submit "Add Book" %>

<% end %>